<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Regex Tuesday Challenge - Week {{ number }}</title>

	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet">
	<link rel="stylesheet" href="/assets/stylesheets/styles.css">
</head>
<body>
	<header>
		<h1>Regex Tuesday Challenge - Week {{ number }}</h1>
		<nav>
			<a href="/">&laquo; View all Challenges</a>
		</nav>
	</header>

	<main>
		<p>{{ description }}</p>
		<p>To test a regular expression on the test cases below, type it into the text input. Each test case will be marked as passed or failed respectively - you are aiming to get as many test cases as you can to pass. Note that JavaScript must be enabled for this feature to work. The regex engine used is the JavaScript regex engine; it is similar to PCRE, but with a few differences.</p>

		<div id="react-root"></div>
	</main>

	<footer>
		Public domain. Site by <a href="http://macr.ae/">Callum Macrae</a>.
	</footer>

	<script type="text/x-case-data">
		{{ json | safe }}
	</script>

	<script src="/assets/js/app.js"></script>
</body>
</html>
